{% extends '::layout.html.twig' %}

{% block body -%}
    
    <div class="container">
        <div class="col-md-12">
            <div class="margin-none">
                <h1>SoftSkills</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cod ID</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('competencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nombre }}</td>
                            <td>
                            
                                
                                    <a href="{{ path('competencia_show', { 'id': entity.id }) }}" class="btn btn-info">show</a>
                                
                                
                                    <a href="{{ path('competencia_edit', { 'id': entity.id }) }}" class="btn btn-warning" class="btn btn-warning">edit</a>
                                
                            
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('competencia_new') }}" class="btn btn-primary">
                    ADD
                </a>
                
            </div>
        </div>
    </div>
{% endblock %}
