{% extends '::layout.html.twig' %}

{% block body -%}
<div class="container">
    <h1>HardSkills creation</h1>

	{{ form_start(form) }}
				
			<div class="form-group">
				Name
				{{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Name'} }) }}
				<span class = "text-danger"> {{ form_errors(form.nombre) }} </span>
			</div>
			
	     
		   {{ form_widget(form.submit, {'label' : 'Save', 'attr' : {'class' : 'btn btn-success' }} ) }}
		        <a href="{{ path('tecnologia') }}" class="btn btn-info">
		            Back to the list
		        </a>
	{{ form_end(form) }}	    
</div>
{% endblock %}
