{% extends '::layout.html.twig' %}

{% block body -%}
<<<<<<< HEAD

    <div class="">
        <div class="col-md-12">
            <div class="margin-none">
                <h1>Puestos</h1>
=======
    <div class="">
        <div class="col-md-12">
            <div class="margin-none">
                <h1>Tactics of wars</h1>
>>>>>>> 1a67f3dfae01b4250e8258467d566c2154b4bbdb
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('puesto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nombre }}</td>
                            <td>
                            <ul>
                                <li>
                                    <a href="{{ path('puesto_show', { 'id': entity.id }) }}" class="btn btn-info">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('puesto_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                                </li>
                            </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('puesto_new') }}">
                            Create a new entry
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
