{% extends '::layout.html.twig' %}


{% block body %}


<div class="container">
	<div class="col-md-12">
        <div class="margin-none">
            <h2> New Mision </h2>
        </div>	
    
		{{ form_start(form) }}
			<div class="form-group">
				Name
				{{ form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Name'} }) }}
				<span class = "text-danger"> {{ form_errors(form.nombre) }} </span>
			</div>
			<div class="form-group">
					Description
					{{ form_widget(form.descripcion, {'attr' : {'class' : 'form-control', 'placeholder' : 'About of the mision'} }) }}
					<span class = "text-danger"> {{ form_errors(form.descripcion) }} </span>
			</div>
				
			<p>{{ form_widget(form.submit, {'label' : 'Save', 'attr' : {'class' : 'btn btn-success' }} ) }} 
				<a href="{{ path('proyecto') }}" class="btn btn-info">
	            Back to the list
	    		</a>
			</p>

		{{ form_end(form) }}
	    
</div>
{% endblock %}








