{% extends '::layout.html.twig' %}

{% block body -%}

    <div class="container">
        <div class="col-md-12">
            <div class="margin-none">
                <h1>Mutants</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Dni</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Linkedin</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('profesional_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.apellido }}</td>
                            <td>{{ entity.dni }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.telefono }}</td>
                            <td>{{ entity.linkedin }}</td>
                            <td>
                                <a href="{{ path('profesional_show', { 'id': entity.id }) }}" class="btn btn-info">show</a>
                                <a href="{{ path('profesional_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('profesional_new') }}" class="btn btn-primary">ADD</a>
                
            </div>
        </div>
    </div>
    {% endblock %}
