{% extends '::layout.html.twig' %}

{% block body -%}
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <center>
          <img src="{{ asset('public/img/oscar.jpg') }}" alt="..." class="img-thumbnail">
          <br>
        </center>
        <h3>Apellido y Nombre:</h3>
          <p>{{ entity.apellido }} {{ entity.nombre }}</p>
          <h3>DNI:</h3>
          <p>{{ entity.dni }}</p>
          <h3></h3>
          <h3>E-mail:</h3>
          <p>{{ entity.email }}</p>
          <h3>Telefono:</h3>
          <p>{{ entity.telefono }}</p>
          <h3>Linkedin</h3>
          <p>{{ entity.linkedin }}</p>
    </div>

    <div class="col-md-8"><h1>Mutant</h1>
        <!--Aca empieza el acordeon -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                SoftSkills
              </a>
            </h4>
        </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                {% for califc in califcs %}
                    {% if califc.nota == 'NE' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 25%;"><p>{{ califc.competencia }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if califc.nota == '1' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 50%;">{{ califc.competencia }}
                        </div>
                      </div>
                    {% endif %}
                    {% if califc.nota == '2' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 75%;">{{ califc.competencia }}
                        </div>
                      </div>
                    {% endif %}
                    {% if califc.nota == '3' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 100%;">{{ califc.competencia }}
                        </div>
                      </div>
                    {% endif %}
                {% endfor %}
                <div class="row" style="padding:0px 0px 0px 15px;">
                </div>
            </div>
        </div>
        <!--Aca finaliza el acordeon -->

        <!--Aca empieza el acordeon -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                HardSkills
              </a>
            </h4>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              {% for calift in califts %}
                    {% if calift.nivel == '1' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 20%;"><p>{{ calift.tecnologia }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if calift.nivel == '2' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 40%;">{{ calift.tecnologia }}
                        </div>
                      </div>
                    {% endif %}
                    {% if calift.nivel == '3' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 60%;">{{ calift.tecnologia }}
                        </div>
                      </div>
                    {% endif %}
                    {% if calift.nivel == '4' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 80%;">{{ calift.tecnologia }}
                        </div>
                      </div>
                    {% endif %}
                    {% if calift.nivel == '5' %}
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="5%" style="min-width: 2em; width: 100%;">{{ calift.tecnologia }}
                        </div>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        
        <!--Aca finaliza el acordeon -->
        <center>
          <div class="col-sm-3 col-xs-3">
            <div class="cuadradoRojo">
              <h4>NE</h4>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3">
            <div class="cuadradoAnaranjado">
              <h4>1</h4>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3">
            <div class="cuadradoAzul">
              <h4>2</h4>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3">
            <div class="cuadradoVerde">
              <h4>3</h4>
            </div>
          </div>
        </center>
    </div>
    </div>
</div>

    

    
{% endblock %}

      
      

