{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Calificacion de Tecnologías</h1>

    <div class="">
        <div class="col-md-12">
            <div class="margin-none">
                <h1>Proyecto list</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nivel</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('califtecnologia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nivel }}</td>
                            <td>
                            <ul>
                                <li>
                                    <a href="{{ path('califtecnologia_show', { 'id': entity.id }) }}" class="btn btn-info">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('califtecnologia_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                                </li>
                            </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                    <ul>
                    <li>
                        <a href="{{ path('califtecnologia_new') }}">
                            Create a new entry
                        </a>
                    </li>
                </ul>
    {% endblock %}
